<p>
  本履歷的最新版本位於下列網址：<br>
  <a href="{{ "/" | absolute_url }}">{{ "/" | absolute_url }}</a>
  <br>
  並且在不冒名使用的前提下以 <a href="https://creativecommons.org/licenses/by-sa/4.0">4.0 版或其任意更近期版本之 Creative Commons 姓名標示 - 相同方式分享公眾授權條款</a>釋出供大眾於授權範圍內自由使用
</p>

<p>
  如果您對本履歷的內容或是使用方式有任何問題請移駕本履歷的<a href="https://gitlab.com/brlin/resume/-/issues">議題追蹤系統</a>。
</p>

{% if site.github.is_project_page %}
  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> 是由 <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> 所維護</span>
{% endif %}
<span class="site-footer-credits">本履歷網站由 <a href="https://docs.gitlab.com/ee/user/project/pages/">GitLab Pages</a>、<a href="https://jekyllrb.com/">Jekyll 靜態網站產生器</a>與 <a href="https://github.com/pages-themes/cayman">Cayman Jekyll 佈景主題</a>提供助力</span>
