<p>
  The latest version of this résumé is located at the following address:<br>
  <a href="{{ "/" | absolute_url }}">{{ "/" | absolute_url }}</a>
  <br>
  and is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0">4.0 International version of the Creative Commons Attribution-ShareAlike License</a>, or any of its recent versions of your preference with an exception of not impersonating anyone
</p>

<p>
  Refer to <a href="https://gitlab.com/brlin/resume/-/issues">the issue tracker</a> if you have any problems regarding the content or the usage of this résumé
</p>

{% if site.github.is_project_page %}
  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
{% endif %}
<span class="site-footer-credits">This résumé website is powered by <a href="https://docs.gitlab.com/ee/user/project/pages/">GitLab Pages</a>, <a href="https://jekyllrb.com/">the Jekyll static site generator</a>, and <a href="https://github.com/pages-themes/cayman">the Cayman Jekyll theme</a></span>
