<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link | absolute_url }}"{% if page.url == item.link | absolute_url %} aria-current="page"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav>
