---
---
// Stylesheet to fix-up some formatting of the Jekyll theme
//
// Copyright 2023 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
// SPDX-License-Identifier: CC-BY-SA-4.0+
@import "{{ site.theme }}";

@media print {
    // Don't show language navigation interface when printed */
    nav {
        display: none;
    }

    // Don't show site footer when printed */
    footer {
        display: none;
    }
}

// Disable language navigation hyperlink on current language */
[aria-current="page"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: inherit;
}
